.button {
  /* reset */
  border: none;
  cursor: pointer;
  color: inherit;

  /* layout */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-inline);
  padding: var(--spacing-inline);

  /* theming */
  --size: 24px;
  height: var(--size);
  width: var(--size);
  color: white;

  background-color: var(--section-color);
  transition: filter var(--transition-time) ease-out;

  box-shadow: var(--shadow-edge);
}

.button span {
  font-size: 16px;
}

.button:hover {
  filter: var(--brighten);
}

.button:active {
  filter: var(--darken);
}
