.app-header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: var(--spacing-grid);
}

.title {
  font-weight: normal;
}

.header-update {
  color: var(--positive);
  cursor: pointer;
  flex-grow: 1;
}

.header-version {
  flex-grow: 1;
  opacity: 0.5;
}

.header-update:hover {
  text-decoration: underline;
  filter: var(--brighten);
}
