.section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: var(--section-color);
  padding: 12px;
  box-shadow: var(--shadow-edge);
}

.section-title {
  /* reset */
  color: inherit;

  /* layout */
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--spacing-inline);
  height: 24px;

  /* theming */
  font-size: 19px;
  color: var(--weird-cream);
}

.section-spacer {
  flex-grow: 1;
  background-image: linear-gradient(
    to right,
    var(--inset-color),
    var(--inset-color) 2px,
    transparent 2px,
    transparent
  );
  background-size: 4px 100%;
  height: 100%;
}

.section-content {
  height: 100%;
  background-color: var(--inset-color);
  box-shadow: var(--shadow-cutout);
  padding: 12px;
  overflow: hidden;
}
