.canvas-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#canvas-upload {
  display: none;
}

#file-input {
  display: none;
}

.success {
  color: var(--positive);
}

.error {
  color: var(--negative);
}

.inline-flex {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.working-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
}

.code-title,
.code {
  grid-column: span 2;
}

.code,
.source,
.preview {
  height: 30vh;
}

.code {
  display: flex;
  flex-direction: column;
}

.source-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.area-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
  background-color: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid var(--text-color);
}

.subtle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: var(--layer-color);
}

.subtle-button:hover {
  filter: brightness(1.2);
}

.subtle-button:active {
  filter: brightness(0.8);
}

.subtle-button img {
  height: 1.2rem;
  width: 1.2rem;
}

.code-area {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  height: 100%;
}
