.upload-icon {
  font-size: 4rem;
}

.upload-area {
  cursor: pointer;
  border-radius: 3px;
  border: dashed 2px var(--text-color);
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  opacity: 0.5;
}

.upload-area:hover {
  opacity: 1;
}

.upload-hint {
  text-align: center;
  padding-inline: var(--spacing-grid);
}
