.slider {
  display: flex;
  align-items: center;
  gap: var(--spacing-inline);
}

.slider-input {
  accent-color: var(--accent-color);
  width: fill-available;
}

.slider-exact-input {
/* reset */
border: none;

/* layout */
padding: var(--spacing-inline);
border-radius: var(--rounding);

/* theming */
color: var(--text);
background-color: transparent;
width: 2rem;
/* background-color: var(--weird-cream); */
/* box-shadow: var(--shadow-cutout); */
}
